<launch>
<arg name="fixed_frame" default="/BASE" />
<param name="sim_mode" value="true" />
<param name="fixed_frame" value="$(arg fixed_frame)" />
<node pkg="tf" type="static_transform_publisher" name="connect_base" args="0 0 0 0 0 0 $(arg fixed_frame) /virtual$(arg fixed_frame) 100" />
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
<node  name="virtual_robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" >
  <remap from="joint_states" to="virtual_joint_states" />
  <param name="tf_prefix" type="string" value="virtual" />
</node>
<param name="use_gui" type="bool" value="true" />
<node name="joint_state_publisher" pkg="open_industrial_web_interface" type="joint_state_publisher" />
<node name="virtual_joint_state_publisher" pkg="open_industrial_web_interface" type="virtual_joint_state_publisher" />
<node name="tf2_web_republisher" pkg="tf2_web_republisher" type="tf2_web_republisher" />
<include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />

<node name="moveit_publisher" pkg="open_industrial_web_interface" type="moveit_publisher.py" args="_sim_mode:=true" />
<node name="interactive_moveit" pkg="open_industrial_web_interface" type="interactive_moveit.py" />
<node name="interactive_marker_proxy" pkg="interactive_marker_proxy" type="proxy" args="topic_ns:=/basic_marker target_frame:=$(arg fixed_frame)" />
<node name="link_group" pkg="open_industrial_web_interface" type="link_group_publisher" clear_params="true" />
<node name="roswww" pkg="roswww" type="webserver.py" />
</launch>